<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace命名空间特殊作用： 如果使用mapper动态代理方法，这里就需要配置mapper接口地址 -->

<mapper namespace="com.sise.ycj.model.JobTuiJian">

	<insert id="addJobTuiJian" parameterType="JobTuiJian">
		insert into jobTuiJian(
		jobId,toWho,isShow) values(#{jobId},
		#{toWho},#{isShow})
	</insert>

	<update id="updateJobTuiJian" parameterType="JobTuiJian">
		UPDATE jobTuiJian SET
		jobId=#{jobId},
		toWho=#{toWho},isShow=#{isShow},test=#{test} WHERE id=#{id}
	</update>

	<select id="getJobTuiJian" resultType="JobTuiJian">
		SELECT *
		FROM jobTuiJian
	</select>

</mapper>