<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace命名空间特殊作用： 如果使用mapper动态代理方法，这里就需要配置mapper接口地址 -->

<mapper namespace="com.sise.ycj.model.School">

	<insert id="addSchool" parameterType="School">
		insert into school(s_name,
		s_addr,s_msg) values(#{s_name},
		#{s_addr},#{s_msg})
	</insert>

	<update id="updateSchoolByS_name" parameterType="School">
		UPDATE school SET
		s_name=#{s_name},
		s_addr=#{s_addr},s_msg=#{s_msg} WHERE s_name=#{s_name}
	</update>

	<select id="getSchoolByS_name" resultType="School">
		SELECT *
		FROM school WHERE s_name like #{s_name}
	</select>

	<select id="getSchoolList" resultType="School">
		SELECT * FROM school		
	</select>

	<delete id="deleteSchoolByS_name" parameterType="string">
		delete from school where
		s_name=#{s_name}
	</delete>

</mapper>